html, body {
  height: 100%; }

body {
  font-family: "Ubuntu", sans-serif; }

h3 {
  margin-top: 30px; }

.header {
  background: url(../img/header-img.jpg) top center no-repeat #beeded;
  color: #fff;
  height: 400px;
  text-align: center;
  text-shadow: 0px 0px 8px black; }

.header--title {
  padding-top: 2.188em;
  font-weight: 700; }
  @media (max-width: 34em) {
    .header--title {
      padding-top: 1.5em; } }

.header--subtitle {
  max-width: 600px;
  margin: 0 auto; }

@media (max-width: 34em) {
  .bgcolor--text {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%; } }

.content {
  padding-top: 3em;
  padding-bottom: 8em; }
  @media (max-width: 34em) {
    .content {
      padding-top: 1em; } }

.row--line {
  min-height: 120px;
  border-bottom: 1px solid #e3e3e3;
  padding-top: 1.5em; }

.input-radio--disable {
  width: 0;
  height: 0;
  display: none; }

@media (max-width: 34em) {
  .slider--center {
    text-align: center; } }

#ex1Slider .slider-selection {
  background: #bababa; }

.slider.slider-horizontal {
  width: 86%;
  height: 20px;
  margin: 0 7%;
  margin-top: 30px; }
  @media (min-width: 48em) {
    .slider.slider-horizontal {
      margin-left: 0; } }

.radios--inline {
  display: inline-block; }

.custom-radios input[type="radio"] {
  display: none; }

.radio--circle {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 62px; }

.check--img {
  opacity: 0;
  transition: all .3s ease; }

.custom-radios input[type="radio"]#radio4 + label span {
  background-color: #666666; }

.custom-radios input[type="radio"]#radio5 + label span {
  background-color: #009245; }

.custom-radios input[type="radio"]#radio6 + label span {
  background-color: #00a99d; }

.custom-radios input[type="radio"]:checked + label span img {
  opacity: 1; }

.btn {
  margin-top: 2.5em;
  padding: 0.625em 2.375em;
  font-size: 1.250em;
  border-radius: 0; }

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none; }

label {
  border: 2px solid #fff;
  padding: 2px; }

input[type="radio"]:checked ~ * {
  border: 2px solid #3074ae;
  padding: 2px; }

#year {
  z-index: 10; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #3074ae;
  background-image: none; }

.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
  margin: 1.2em 0; }

select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer; }

select::-ms-expand {
  display: none; }

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #2c6ba0;
  pointer-events: none; }

.select:hover::after {
  color: #fff; }

.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease; }

.tire, .window {
  margin-bottom: 15px; }

footer {
  background-color: #5e6685;
  color: #fff;
  text-align: center;
  padding: 1.875em 0; }
  @media (min-width: 48em) {
    footer {
      padding: 2.5em 0; } }

.footer--img {
  float: none;
  margin-top: 0;
  display: block;
  margin: 0 auto; }
  @media (min-width: 48em) {
    .footer--img {
      float: right;
      margin-top: -11rem; } }

.footer--copy {
  padding-top: 1.5rem; }

.page--second {
  padding-bottom: 5em; }
  @media (min-width: 48em) {
    .page--second {
      min-height: 600px; } }

.page2--title {
  padding-top: 0.8em;
  font-weight: 700; }
  @media (max-width: 20.313em) {
    .page2--title {
      font-size: 30px; } }

#result {
  font-size: 2em;
  font-weight: 700; }

.finale--car {
  min-height: 160px;
  display: block; }
  @media (min-width: 48em) {
    .finale--car {
      min-height: 270px; } }

.finale--img {
  max-width: 300px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 40px; }
  @media (min-width: 48em) {
    .finale--img {
      max-width: 100%; } }

.finale--subtitle {
  margin-top: 25px; }

#play {
  margin-right: 25px; }
  @media (max-width: 34em) {
    #play {
      margin-right: 0; } }

@media (max-width: 34em) {
  .btn--finale {
    width: 100%; } }

.animated {
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
  animation-duration: 200ms; }

.animatedx {
  -webkit-animation-duration: 1200ms;
  -moz-animation-duration: 1200ms;
  animation-duration: 1200ms; }
